node_modules/
.env
*.log
.DS_Store
dist/
build/
npm install
npm install nodemailer uuid
npm install nodemailer
npm install firebase-admin
npm install bcrypt
red-black-shop-firebase-adminsdk-fbsvc-eafa820ea6.json
